extends: default

ignore: |
  **/gotk-components.yaml
  **/kafka-metrics-configmap.yaml
  **/fraud_training_pipeline.yaml
  .specify/extensions.yml

rules:
  document-start: disable
  line-length:
    max: 120
    allow-non-breakable-words: true
