extends: default

ignore: |
  clusters/minikube/flux-system/gotk-components.yaml
  infrastructure/configs/base/kafka/kafka-metrics-configmap.yaml

rules:
  document-start: disable
  line-length:
    max: 120
    allow-non-breakable-words: true
